body{
    background-image:url("wallpaperflare.com_wallpaper.jpg");
}
.display-4{
    color:rgb(232, 194, 138);
}
.display-6{
    color:rgb(186, 149, 94)
}
.btn{
    background-color: rgb(181, 116, 31);
    color: rgb(255, 210, 147);
    font-size: 1.5rem;
}
.form-group{
    font-size: 2rem;
}
.welcome{
height: 60vh;
}
.showLibrary{
    margin-top: 5rem;
    height:10vh;
}
.outlined-text{
    font-size:3.5rem;
    color: rgb(232, 158, 60);
  -webkit-text-stroke: 2px black;
}
.vw-30{
    width:30vw;
    padding:0;
    margin:0;
}